 <body class = 'entry-screen'>
    <h1 id = 'entry-screen-title'>MoneyCashBoard Budget Tracker</h1>
    <br>
    <div id ='entry-screen-div'>
      <p>Allows the user to track their spending by Merchant, Date and Type of Expenditure (Tag Type).</p>
      <p>To create, edit or delete Transactions, Merchants or Tag Types click on the navigation options on the left.</p>
      <p>Note: the current spending limit for the user is £2,000.</p>
      <p>A warning is generated if the user exceeds this limit.</p>
    </div>
</body>
